@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './variables.scss';

#root{
    height: auto;
    min-height: 100vh;

    background-color: $PrimaryColor;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    
  }
  
.page {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 50px;
    display: block;
    color: $PrimaryTextColor;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    display: block;
    color: $PrimaryTextColor;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
    display: block;
    color: $PrimaryTextColor;
}


header {
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: $PrimaryColor;
    display: flex;
    z-index: 10;
    flex-direction: row;

}

.button {
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 15px;
    border: 2px solid $ButtonColor;
    color: $ButtonColor;
    border-radius: 25px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.button:hover {
    border-color: $ButtonHoverColor;
    color: $ButtonHoverColor;
}

.navigation-column-left {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10%;
}

.navigation-column-right {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10%;
}

.navigation-column-right img {
    max-height: 50px;
    max-width: 50px;
}

.user-avatar{
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
}

.user-dropdown{
    display: inline;
    position: relative;
}

@keyframes appear {
    from {
        margin-top: -5px;
        border: 0px solid $SecondaryColor;
        box-shadow: 0px 0px $SecondaryColor;
        //transform : translateX(-45%);
        opacity   : 0;
    }
    to {
        margin-top: 10px;
        border: 1px solid $SecondaryColor;
        box-shadow: 2px 4px $SecondaryColor;
        //transform : translateX(-50%);
        opacity   : 1;
    }
}

.user-dropdown-content{
    border-radius: 10%;
    min-width: 200px;
    display: flex;
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-86%);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $PrimaryColor;
    border: 1px solid $SecondaryColor;
    box-shadow: 2px 4px $SecondaryColor;
    animation-name            : appear;
    animation-duration        : 0.5s;
    animation-iteration-count : 1;
}



.guild-items{
  display: inline-grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: inherit;
  padding-top: 100px;
  z-index: 1;
}

@media only screen and (max-width: 1200px) {
    .guild-items{
        grid-template-columns: repeat(2, 320px);
      }
  }
  
  @media only screen and (max-width: 768px) {
    .guild-items{
        grid-template-columns: repeat(1, 320px);
      }

  }

.guild-item{
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid $PrimaryColor;
    transition: .8s ease;
}

.guild-item:hover{
    border: 1px solid $SecondaryColor;
    box-shadow: 2px 4px $SecondaryColor;
}

.guild-item .button{
    margin-top: 20px;
    min-width: 140px;
    border-width: 2px;
    text-align: center;
}

.guild-item-icon{
    position: relative;
    display: flex;
    max-height: 150px;
    max-width: 300px;
    height: auto
    width auto;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.guild-item-icon .icon-forground{
    width: 100px;
    height: 100px;
    position: absolute;
    object-fit: cover;
    border-radius: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $GuildItemsColor;
    border: 2px solid $GuildItemsColor;

}

.guild-item-icon .icon-background{
    
    width: 300px;
    height: 170px;
    object-fit: cover;
    filter: blur(8px);
}

.standard-page {
    padding-top: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
}

.standard-page h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 100px;
    display: block;
    color: $PrimaryTextColor;
}



#Home {
    height: auto;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.auth-page {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth-page h1 {
    font-size: 100px;
    display: block;
    color: $PrimaryTextColor;
}

.dropdown-button {
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 0;
    color: $ButtonColor;
    text-decoration: none;
    border: 0px solid $PrimaryTextColor;
    background-color: rgba(255, 255, 255, 0);
    transition: all .3s ease-in-out 
}


.dropdown-button:hover {
    border-color: $ButtonHoverColor;
    color: $ButtonHoverColor;
}

.servers-search {
    display: flex;
    flex-direction: row;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    background-color: $PrimaryColor;
    border: 2px solid $ButtonColor;
    color: $ButtonColor;
    z-index: 3;
    border-radius: 25px;
    align-items: center;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.servers-search input {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 25px;
    border: rgba(0, 0, 0, 0);
    color: $ButtonColor;
}

.servers-search input:focus {
    outline: none;
}

.servers-search:hover {
    border-color: $ButtonHoverColor;
    color: $ButtonHoverColor;
}

#invite img {
    max-height: 500px;
    max-width: 500px;
}

.clickable-icons-dark{
    color: white;
    transition: all .3s ease-in-out;
}

.clickable-icons-dark:hover{
    color : $ButtonHoverColor
}

.clickable-icons-light{
    color: $PrimaryColor;
    transition: all .3s ease-in-out;
}

.clickable-icons-light:hover{
    color : $ButtonHoverColor
}

.home-content-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50vh;
    margin: 25vh 0;
    width: 90%;
    justify-content: center;
    background-color: $PrimaryColor;
    border-radius: 20px;
}

.home-content-row img{
    width: 400px;
    height: 400px;
}

.home-content-row-info{
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    width: 700px;
    
}

.home-content-row-info h1{
    font-size: 70px;
    margin: 2px 0;
    line-height: 40px;
}


.home-content-row-info h1::after{
    content: '';
    display: inline-block;
    height: 5px;
    width: 100%;
    background-color: white;
}


.home-content-row-info h3{
    font-size: 30px;
}

.dashboard-sidebar{
    position: fixed;
    left: 0;
    right: 0;
    height: calc(100vh - 100px);
    width: 100px;
    background-color: rgb(39, 39, 39);
}






